@font-face {
  font-family: "Cambria";
  src: url("../fonts/Cambria.ttf");
}
@font-face {
  font-family: "Myriad Pro Regular";
  font-style: normal;
  font-weight: normal;
  src: local("Myriad Pro Regular"), url("../fonts/MYRIADPRO-REGULAR.woff") format("woff");
}
nav.navbar {
  padding: 0 100px;
  position: absolute;
  z-index: 9;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.navbar-brand {
  margin: 15px 0;
}

#navbarNav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
#navbarNav a {
  font-family: "Cambria";
  font-size: 1.3rem;
  color: #fff;
}
#navbarNav a:hover {
  text-decoration: none;
  color: #ccc;
}
#navbarNav .contact a {
  font-size: 1.3rem;
}

@media screen and (min-width: 1199px) {
  #nav-md {
    display: flex;
  }
}
@media screen and (max-width: 1198px) {
  #nav-md {
    display: none;
  }
}

@media screen and (min-width: 1199px) {
  .sidenav, .btn-toggle-menu {
    display: none;
  }
}

@media screen and (max-width: 1198px) {
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 60px;
    transition: 0.5s;
    display: flex;
    flex-direction: column;
  }
  .sidenav .dropdown:hover .dropdown-menu {
    display: block;
  }
  .sidenav li {
    list-style-type: none;
  }
  .sidenav .dropdown-menu {
    background-color: transparent;
    margin-left: 15px;
    position: static;
    width: 94%;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .sidenav .dropdown-menu > li > a {
    white-space: normal;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
}
@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 50px;
  }
}

.btn-toggle-menu {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 999;
}

.btn-toggle-menu i.fas {
  color: #fff;
  font-size: 26px;
}

.slider-section {
  height: 1080px;
}
@media screen and (max-width: 1439px) {
  .slider-section {
    height: 850px;
  }
}
@media screen and (max-width: 991px) {
  .slider-section {
    height: 550px;
  }
}
@media screen and (max-width: 425px) {
  .slider-section {
    height: 350px;
  }
}
.slider-section .slick-list, .slider-section .slick-track, .slider-section .item {
  height: inherit;
}
.slider-section .item {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
@media screen and (min-width: 1919px) {
  .slider-section .item {
    clip-path: polygon(0 0, 607% 0, 50% 100%, 0 91%);
  }
}
.slider-section .item .bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
@media screen and (max-width: 1024px) {
  .slider-section .item .bg-image img {
    height: inherit;
    width: initial;
  }
}
@media screen and (max-width: 1439px) {
  .slider-section .item .bg-image img {
    height: inherit;
    width: inherit;
  }
}
@media screen and (min-width: 1440px) {
  .slider-section .item .bg-image img {
    height: inherit;
  }
}
@media screen and (min-width: 1600px) {
  .slider-section .item .bg-image img {
    width: inherit;
  }
}
@media screen and (max-width: 575px) {
  .slider-section .item .bg-image img {
    height: inherit;
    width: initial;
  }
}
.slider-section .slick-next, .slider-section .slick-prev {
  z-index: 2;
  width: 80px;
  height: 80px;
}
.slider-section .slick-prev:before, .slider-section .slick-next:before {
  font-size: 80px;
}
.slider-section .slick-next {
  right: 90px !important;
}
@media screen and (max-width: 1440px) {
  .slider-section .slick-next {
    right: 75px !important;
  }
}
.slider-section .slick-prev {
  left: 90px !important;
}
@media screen and (max-width: 1440px) {
  .slider-section .slick-prev {
    left: 75px !important;
  }
}
.slider-section .content {
  width: 100%;
  z-index: inherit;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-section .content .d-flex {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.slider-section .content .d-flex span {
  font-family: "Cambria";
  font-size: 3.85rem;
  font-weight: 400;
  text-align: center;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .slider-section .content .d-flex span {
    width: 70%;
    font-size: 1.85rem;
  }
}
@media screen and (min-width: 992px) {
  .slider-section .content .d-flex span {
    width: 60%;
    font-size: 2.85rem;
  }
}
@media screen and (max-width: 767px) {
  .slider-section .content .d-flex span {
    width: 100%;
    font-size: 1.5rem;
  }
}
.slider-section .content .d-flex .btn-learn-more {
  background-color: #ff0000;
  color: #fff;
  font-family: "Cambria";
  font-size: 1.5rem;
  font-weight: 400;
  margin-top: 20px;
  padding: 10px 15px;
}
.slider-section .content .d-flex .btn-learn-more:hover {
  text-decoration: none;
}
@media screen and (max-width: 575px) {
  .slider-section .content .d-flex .btn-learn-more {
    font-size: 1rem;
    padding: 5px 10px;
  }
}

#index-our-target {
  margin-top: 40px;
}
#index-our-target .our-target-title {
  font-family: "Cambria";
  color: #000000;
  font-weight: 400;
  font-size: 2.85rem;
  text-align: center;
}
@media screen and (max-width: 991px) {
  #index-our-target .our-target-title {
    font-size: 1.85rem;
  }
}
@media screen and (min-width: 992px) {
  #index-our-target .our-target-title {
    font-size: 2.85rem;
  }
}
@media screen and (max-width: 767px) {
  #index-our-target .our-target-title {
    font-size: 1.5rem;
  }
}
#index-our-target .our-target-text {
  font-family: "Cambria";
  color: #000000;
  font-weight: 400;
  font-size: 1.3rem;
}
@media screen and (max-width: 575px) {
  #index-our-target .our-target-text {
    font-size: 1rem;
  }
}

.section-gallery-index {
  margin-top: 40px;
  margin-bottom: 80px;
}
.section-gallery-index .title-gallery {
  font-family: "Cambria";
  color: #000000;
  font-weight: 400;
  font-size: 2.85rem;
  margin-bottom: 25px;
}
@media screen and (max-width: 991px) {
  .section-gallery-index .title-gallery {
    font-size: 1.875rem;
  }
}
.section-gallery-index #index-lightgallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
@media screen and (max-width: 768px) {
  .section-gallery-index #index-lightgallery {
    flex-direction: column;
  }
}
.section-gallery-index #index-lightgallery .image-block {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1 0 21%;
  height: 310px;
}
@media screen and (max-width: 1440px) {
  .section-gallery-index #index-lightgallery .image-block {
    height: 240px;
  }
}
@media screen and (max-width: 1024px) {
  .section-gallery-index #index-lightgallery .image-block {
    height: 160px;
  }
}
@media screen and (max-width: 768px) {
  .section-gallery-index #index-lightgallery .image-block {
    width: 100%;
    height: 240px;
  }
}
.section-gallery-index #index-lightgallery .image-block img {
  height: inherit;
  width: 100%;
}
@media screen and (max-width: 768px) {
  .section-gallery-index #index-lightgallery .image-block img {
    height: initial;
  }
}

#footer {
  background: url("../img/footer-bg.png") center center no-repeat;
  background-size: 100%;
  padding-top: 40px;
}
@media screen and (max-width: 1199px) {
  #footer {
    background-size: cover;
  }
}
#footer .left-side-footer {
  padding-top: 70px;
}
#footer .title-footer {
  font-family: "Cambria";
  color: #ffffff;
  font-weight: 400;
  font-size: 2.85rem;
  margin-bottom: 25px;
}
@media screen and (max-width: 991px) {
  #footer .title-footer {
    font-size: 1.875rem;
  }
}
@media screen and (max-width: 1199px) {
  #footer .title-footer {
    margin-top: 20px;
  }
}
@media screen and (max-width: 1199px) {
  #footer .form-callback {
    justify-content: center;
  }
}
#footer form .form-group {
  margin-bottom: 7px;
  width: 100%;
}
#footer form .form-group input {
  border-radius: 0;
  padding-top: 22px;
  padding-bottom: 22px;
}
#footer form .form-group textarea {
  border-radius: 0;
  resize: none;
  height: 99px;
}
#footer span {
  font-family: "Myriad Pro Regular";
  color: #ffffff;
}
#footer .sbmt-btn-footer {
  margin-bottom: 15px;
  background-color: #ff0000;
  color: #fff;
  font-family: "Cambria";
  font-size: 1.5rem;
  font-weight: 400;
  border: none;
  margin-top: 20px;
  padding: 10px 15px;
}
@media screen and (max-width: 575px) {
  #footer .sbmt-btn-footer {
    font-size: 1rem;
    padding: 5px 10px;
  }
}
#footer .sbmt-btn-footer:hover {
  text-decoration: none;
}
@media screen and (max-width: 768px) {
  #footer .current {
    flex-direction: column;
    margin-left: 0;
    margin-right: 0;
  }
}
#footer .footer-link {
  color: #fff;
}
#footer .footer-link:hover {
  text-decoration: none;
}
#footer .footer-link i {
  color: red;
}

#services-head-section {
  padding-top: 119px;
  background: url("../img/catalog-servics-bg.png") center top no-repeat;
  background-size: 100%;
}
@media screen and (max-width: 1199px) {
  #services-head-section {
    background-size: 130%;
    padding-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  #services-head-section {
    background-size: 179%;
  }
}
@media screen and (max-width: 575px) {
  #services-head-section {
    background-size: auto;
  }
}
#services-head-section .title-services-section {
  font-family: "Cambria";
  font-size: 2.85rem;
  font-weight: 400;
  color: #fff;
  margin-top: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  #services-head-section .title-services-section {
    font-size: 1.85rem;
  }
}
@media screen and (min-width: 992px) {
  #services-head-section .title-services-section {
    font-size: 2.85rem;
  }
}
@media screen and (max-width: 767px) {
  #services-head-section .title-services-section {
    font-size: 1.5rem;
  }
}
#services-head-section .additional-text {
  font-family: "Cambria";
  color: #ffffff;
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 575px) {
  #services-head-section .additional-text {
    font-size: 1rem;
  }
}
#services-head-section .list-of-services {
  margin-top: 80px;
}
#services-head-section .list-of-services .services-item {
  margin-bottom: 60px;
}
#services-head-section .list-of-services .img-block {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
#services-head-section .list-of-services .img-block img {
  width: inherit;
}
#services-head-section .list-of-services .info-block h3 {
  margin-top: 20px;
  font-size: 1.5rem;
  font-family: "Cambria";
  font-weight: 400;
  padding-left: 45px;
}
#services-head-section .list-of-services .list-group-item {
  background: none;
  border: none;
  font-family: "Cambria";
  font-weight: 400;
  font-size: 1rem;
}
#services-head-section .list-of-services .list-group-item i.fas {
  color: #035281;
}

#about-us-section {
  padding-top: 119px;
  background: url("../img/about-us-bg.png") center top no-repeat;
  background-size: 100%;
}
@media screen and (max-width: 1199px) {
  #about-us-section {
    background-size: 130%;
    padding-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  #about-us-section {
    background-size: 179%;
  }
}
@media screen and (max-width: 575px) {
  #about-us-section {
    background-size: 205%;
  }
}
#about-us-section .title-section {
  font-family: "Cambria";
  font-size: 2.85rem;
  font-weight: 400;
  color: #fff;
  margin-top: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media screen and (max-width: 991px) {
  #about-us-section .title-section {
    font-size: 1.85rem;
  }
}
@media screen and (min-width: 992px) {
  #about-us-section .title-section {
    font-size: 2.85rem;
  }
}
@media screen and (max-width: 767px) {
  #about-us-section .title-section {
    font-size: 1.5rem;
  }
}
#about-us-section .head-info {
  margin-bottom: 40px;
}
#about-us-section .info {
  margin-bottom: 40px;
}
#about-us-section .info h3 {
  font-family: "Cambria";
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.9rem;
}
@media screen and (max-width: 991px) {
  #about-us-section .info h3 {
    color: #000;
    text-align: center;
  }
}
#about-us-section .info p {
  font-family: "Cambria";
  font-size: 1.3rem;
  color: #fff;
}
@media screen and (max-width: 991px) {
  #about-us-section .info p {
    color: #000;
  }
}
@media screen and (max-width: 575px) {
  #about-us-section .info p {
    font-size: 1rem;
  }
}
#about-us-section .info .blacked {
  color: #000 !important;
}
#about-us-section .block-images {
  margin-bottom: 40px;
}
#about-us-section .slider-item {
  margin: 30px 0;
}
#about-us-section .slider-item .pr {
  height: 130px;
  align-items: center;
}
#about-us-section .slider-item .slider-image, #about-us-section .slider-item h5 {
  margin-bottom: 30px;
}
#about-us-section .slider-item h5, #about-us-section .slider-item span {
  text-align: center;
}
#about-us-section .slider-item h5 {
  font-family: "Cambria";
  font-size: 1.5rem;
}
#about-us-section .slider-item span {
  font-family: "Cambria";
  font-size: 1.3rem;
}
#about-us-section .slick-slide:focus {
  outline: none;
  box-shadow: none;
}
#about-us-section #slider-btn {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
@media screen and (max-width: 991px) {
  #about-us-section #slider-btn {
    display: none;
  }
}
#about-us-section #slider-btn .slick-prev, #about-us-section #slider-btn .slick-next {
  position: relative;
}
#about-us-section #slider-btn .slick-prev::before, #about-us-section #slider-btn .slick-next::before {
  color: #ba2f2f;
}

#footer-second .title-footer {
  font-family: "Cambria";
  color: #000;
  font-weight: 400;
  font-size: 2.85rem;
  margin-bottom: 25px;
}
#footer-second .map-embed {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 1199px) {
  #footer-second .current-row {
    margin: 0;
  }
}
#footer-second .no-pad {
  padding: 0;
}
#footer-second form {
  margin-bottom: 40px;
}
#footer-second form .form-group {
  margin-bottom: 7px;
  width: 100%;
}
#footer-second form .form-group input {
  border-radius: 0;
  padding-top: 22px;
  padding-bottom: 22px;
}
#footer-second form .form-group textarea {
  border-radius: 0;
  resize: none;
  height: 99px;
}
#footer-second form .sbmt-btn-footer {
  margin-bottom: 35px;
  background-color: #ff0000;
  color: #fff;
  font-family: "Cambria";
  font-size: 30px;
  font-weight: 400;
  border: none;
  padding: 3px 28px;
  margin-top: 30px;
}
#footer-second form .sbmt-btn-footer:hover {
  text-decoration: none;
}
#footer-second .other-info {
  background: url("../img/footer-bg.png") center center no-repeat;
  background-size: cover;
  padding: 40px 0;
}
#footer-second .other-info span {
  font-family: "Myriad Pro Regular";
  color: #ffffff;
}
#footer-second .footer-link {
  color: #fff;
}
#footer-second .footer-link:hover {
  text-decoration: none;
}
#footer-second .footer-link i {
  color: red;
}
#footer-second .footer-name-comp {
  margin-bottom: 20px;
}
#footer-second .pad {
  padding: 5px 15px;
}

#contacts-section {
  padding-top: 119px;
  background: url("../img/contacts-bg.png") center top no-repeat;
  background-size: 100%;
}
@media screen and (max-width: 1199px) {
  #contacts-section {
    background-size: 130%;
    padding-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  #contacts-section {
    background-size: 179%;
  }
}
@media screen and (max-width: 575px) {
  #contacts-section {
    background-size: 205%;
  }
}
#contacts-section .title-section {
  font-family: "Cambria";
  font-size: 2.85rem;
  font-weight: 400;
  color: #fff;
  margin-top: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media screen and (max-width: 991px) {
  #contacts-section .title-section {
    font-size: 1.85rem;
  }
}
@media screen and (min-width: 992px) {
  #contacts-section .title-section {
    font-size: 2.85rem;
  }
}
@media screen and (max-width: 767px) {
  #contacts-section .title-section {
    font-size: 1.5rem;
  }
}
#contacts-section .title-text {
  font-family: "Cambria";
  font-weight: 400;
  color: #fff;
  text-transform: uppercase;
  font-size: 1.9rem;
}
@media screen and (max-width: 575px) {
  #contacts-section .title-text {
    font-size: 1.5rem;
  }
}
#contacts-section .add-text {
  font-family: "Cambria";
  font-size: 1.3rem;
  color: #fff;
}
@media screen and (max-width: 575px) {
  #contacts-section .add-text {
    font-size: 1rem;
  }
}
#contacts-section .contact-block {
  margin-bottom: 40px;
}
#contacts-section .blacked {
  color: #000000;
}
#contacts-section .form-contact .form-group {
  margin-bottom: 7px;
  width: 100%;
}
#contacts-section .form-contact .form-group input {
  border-radius: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  background-color: #E6E6E6;
}
#contacts-section .form-contact .form-group textarea {
  border-radius: 0;
  resize: none;
  background: #E6E6E6;
  height: 99px;
}
#contacts-section .form-contact #btn-send {
  background-color: #035281;
  color: #fff;
  padding-top: 12px;
  padding-bottom: 12px;
  font-family: "Cambria";
}
#contacts-section .map-embed {
  width: 100%;
}

#info-section, #catalog-section {
  padding-top: 119px;
  background: url("../img/info-bg.png") center top no-repeat;
  background-size: 100%;
}
@media screen and (max-width: 1199px) {
  #info-section, #catalog-section {
    background-size: 130%;
    padding-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  #info-section, #catalog-section {
    background-size: 179%;
  }
}
@media screen and (max-width: 575px) {
  #info-section, #catalog-section {
    background-size: 205%;
  }
}
#info-section .title-info-section, #catalog-section .title-info-section {
  font-family: "Cambria";
  font-size: 2.85rem;
  font-weight: 400;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  #info-section .title-info-section, #catalog-section .title-info-section {
    font-size: 1.85rem;
  }
}
@media screen and (min-width: 992px) {
  #info-section .title-info-section, #catalog-section .title-info-section {
    font-size: 2.85rem;
  }
}
@media screen and (max-width: 767px) {
  #info-section .title-info-section, #catalog-section .title-info-section {
    font-size: 1.5rem;
  }
}
#info-section #v-pills-tab, #catalog-section #v-pills-tab {
  background-color: #ffffff;
  height: fit-content;
}
#info-section .nav-pills .nav-link, #catalog-section .nav-pills .nav-link {
  color: #000000;
}
#info-section .nav-pills .nav-link.active, #info-section .nav-pills .show > .nav-link, #catalog-section .nav-pills .nav-link.active, #catalog-section .nav-pills .show > .nav-link {
  background: transparent !important;
  color: #ff0000 !important;
}
#info-section .title-menu, #catalog-section .title-menu {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 1.5rem;
  font-family: "Cambria";
  padding-left: 60px;
}
@media screen and (max-width: 991px) {
  #info-section .title-menu, #catalog-section .title-menu {
    padding: 0;
  }
}
@media screen and (max-width: 991px) {
  #info-section .center, #catalog-section .center {
    justify-content: center;
  }
}
@media screen and (max-width: 767px) {
  #info-section .center-sm, #catalog-section .center-sm {
    justify-content: center !important;
  }
}
#info-section .current-row-2, #catalog-section .current-row-2 {
  flex-direction: column;
  background: #fff;
  height: max-content;
  padding: 20px 0;
}
#info-section .title-in-tab, #catalog-section .title-in-tab {
  color: #ffffff;
  font-size: 1.5rem;
  font-family: "Cambria";
  margin-bottom: 20px;
}
@media screen and (max-width: 991px) {
  #info-section .title-in-tab, #catalog-section .title-in-tab {
    margin-top: 40px;
  }
}
#info-section .first-row-partners, #info-section .second-row-partners, #info-section .first-row-cert, #info-section .second-row-cert, #info-section .first-row-products, #catalog-section .first-row-partners, #catalog-section .second-row-partners, #catalog-section .first-row-cert, #catalog-section .second-row-cert, #catalog-section .first-row-products {
  margin-bottom: 60px;
}
#info-section .first-row-partners .slick-slide:focus, #info-section .second-row-partners .slick-slide:focus, #info-section .first-row-cert .slick-slide:focus, #info-section .second-row-cert .slick-slide:focus, #info-section .first-row-products .slick-slide:focus, #catalog-section .first-row-partners .slick-slide:focus, #catalog-section .second-row-partners .slick-slide:focus, #catalog-section .first-row-cert .slick-slide:focus, #catalog-section .second-row-cert .slick-slide:focus, #catalog-section .first-row-products .slick-slide:focus {
  outline: none;
  box-shadow: none;
}
#info-section .first-row-partners .logo-block, #info-section .second-row-partners .logo-block, #info-section .first-row-cert .logo-block, #info-section .second-row-cert .logo-block, #info-section .first-row-products .logo-block, #catalog-section .first-row-partners .logo-block, #catalog-section .second-row-partners .logo-block, #catalog-section .first-row-cert .logo-block, #catalog-section .second-row-cert .logo-block, #catalog-section .first-row-products .logo-block {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 110px;
}
@media screen and (max-width: 575px) {
  #info-section .first-row-partners .logo-block, #info-section .second-row-partners .logo-block, #info-section .first-row-cert .logo-block, #info-section .second-row-cert .logo-block, #info-section .first-row-products .logo-block, #catalog-section .first-row-partners .logo-block, #catalog-section .second-row-partners .logo-block, #catalog-section .first-row-cert .logo-block, #catalog-section .second-row-cert .logo-block, #catalog-section .first-row-products .logo-block {
    height: 90px;
  }
}
#info-section .first-row-partners .logo-block img, #info-section .second-row-partners .logo-block img, #info-section .first-row-cert .logo-block img, #info-section .second-row-cert .logo-block img, #info-section .first-row-products .logo-block img, #catalog-section .first-row-partners .logo-block img, #catalog-section .second-row-partners .logo-block img, #catalog-section .first-row-cert .logo-block img, #catalog-section .second-row-cert .logo-block img, #catalog-section .first-row-products .logo-block img {
  height: inherit;
}
#info-section .first-btn-row, #info-section .second-btn-row, #catalog-section .first-btn-row, #catalog-section .second-btn-row {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  #info-section .first-btn-row, #info-section .second-btn-row, #catalog-section .first-btn-row, #catalog-section .second-btn-row {
    display: none;
  }
}
#info-section .first-btn-row .slick-prev, #info-section .first-btn-row .slick-next, #info-section .second-btn-row .slick-prev, #info-section .second-btn-row .slick-next, #catalog-section .first-btn-row .slick-prev, #catalog-section .first-btn-row .slick-next, #catalog-section .second-btn-row .slick-prev, #catalog-section .second-btn-row .slick-next {
  position: relative;
}
#info-section .first-btn-row .slick-prev::before, #info-section .first-btn-row .slick-next::before, #info-section .second-btn-row .slick-prev::before, #info-section .second-btn-row .slick-next::before, #catalog-section .first-btn-row .slick-prev::before, #catalog-section .first-btn-row .slick-next::before, #catalog-section .second-btn-row .slick-prev::before, #catalog-section .second-btn-row .slick-next::before {
  color: #ba2f2f;
}
#info-section .news-container, #info-section .video-container, #info-section .vacancy-container, #catalog-section .news-container, #catalog-section .video-container, #catalog-section .vacancy-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
#info-section .news-container .news-item, #info-section .news-container .video-item, #info-section .news-container .vacancy-item, #info-section .video-container .news-item, #info-section .video-container .video-item, #info-section .video-container .vacancy-item, #info-section .vacancy-container .news-item, #info-section .vacancy-container .video-item, #info-section .vacancy-container .vacancy-item, #catalog-section .news-container .news-item, #catalog-section .news-container .video-item, #catalog-section .news-container .vacancy-item, #catalog-section .video-container .news-item, #catalog-section .video-container .video-item, #catalog-section .video-container .vacancy-item, #catalog-section .vacancy-container .news-item, #catalog-section .vacancy-container .video-item, #catalog-section .vacancy-container .vacancy-item {
  display: flex;
  flex-direction: column;
  margin-left: 200px;
}
@media screen and (max-width: 1199px) {
  #info-section .news-container .news-item, #info-section .news-container .video-item, #info-section .news-container .vacancy-item, #info-section .video-container .news-item, #info-section .video-container .video-item, #info-section .video-container .vacancy-item, #info-section .vacancy-container .news-item, #info-section .vacancy-container .video-item, #info-section .vacancy-container .vacancy-item, #catalog-section .news-container .news-item, #catalog-section .news-container .video-item, #catalog-section .news-container .vacancy-item, #catalog-section .video-container .news-item, #catalog-section .video-container .video-item, #catalog-section .video-container .vacancy-item, #catalog-section .vacancy-container .news-item, #catalog-section .vacancy-container .video-item, #catalog-section .vacancy-container .vacancy-item {
    margin: 0;
  }
}
#info-section .news-container .news-item .img-block, #info-section .news-container .video-item .img-block, #info-section .news-container .vacancy-item .img-block, #info-section .video-container .news-item .img-block, #info-section .video-container .video-item .img-block, #info-section .video-container .vacancy-item .img-block, #info-section .vacancy-container .news-item .img-block, #info-section .vacancy-container .video-item .img-block, #info-section .vacancy-container .vacancy-item .img-block, #catalog-section .news-container .news-item .img-block, #catalog-section .news-container .video-item .img-block, #catalog-section .news-container .vacancy-item .img-block, #catalog-section .video-container .news-item .img-block, #catalog-section .video-container .video-item .img-block, #catalog-section .video-container .vacancy-item .img-block, #catalog-section .vacancy-container .news-item .img-block, #catalog-section .vacancy-container .video-item .img-block, #catalog-section .vacancy-container .vacancy-item .img-block {
  height: 560px;
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
@media screen and (max-width: 575px) {
  #info-section .news-container .news-item .img-block, #info-section .news-container .video-item .img-block, #info-section .news-container .vacancy-item .img-block, #info-section .video-container .news-item .img-block, #info-section .video-container .video-item .img-block, #info-section .video-container .vacancy-item .img-block, #info-section .vacancy-container .news-item .img-block, #info-section .vacancy-container .video-item .img-block, #info-section .vacancy-container .vacancy-item .img-block, #catalog-section .news-container .news-item .img-block, #catalog-section .news-container .video-item .img-block, #catalog-section .news-container .vacancy-item .img-block, #catalog-section .video-container .news-item .img-block, #catalog-section .video-container .video-item .img-block, #catalog-section .video-container .vacancy-item .img-block, #catalog-section .vacancy-container .news-item .img-block, #catalog-section .vacancy-container .video-item .img-block, #catalog-section .vacancy-container .vacancy-item .img-block {
    height: inherit;
  }
}
#info-section .news-container .news-item .img-block img, #info-section .news-container .video-item .img-block img, #info-section .news-container .vacancy-item .img-block img, #info-section .video-container .news-item .img-block img, #info-section .video-container .video-item .img-block img, #info-section .video-container .vacancy-item .img-block img, #info-section .vacancy-container .news-item .img-block img, #info-section .vacancy-container .video-item .img-block img, #info-section .vacancy-container .vacancy-item .img-block img, #catalog-section .news-container .news-item .img-block img, #catalog-section .news-container .video-item .img-block img, #catalog-section .news-container .vacancy-item .img-block img, #catalog-section .video-container .news-item .img-block img, #catalog-section .video-container .video-item .img-block img, #catalog-section .video-container .vacancy-item .img-block img, #catalog-section .vacancy-container .news-item .img-block img, #catalog-section .vacancy-container .video-item .img-block img, #catalog-section .vacancy-container .vacancy-item .img-block img {
  width: 100%;
  height: inherit;
}
#info-section .news-container .news-item .title-news, #info-section .news-container .news-item .video-title, #info-section .news-container .news-item .vacancy-title, #info-section .news-container .video-item .title-news, #info-section .news-container .video-item .video-title, #info-section .news-container .video-item .vacancy-title, #info-section .news-container .vacancy-item .title-news, #info-section .news-container .vacancy-item .video-title, #info-section .news-container .vacancy-item .vacancy-title, #info-section .video-container .news-item .title-news, #info-section .video-container .news-item .video-title, #info-section .video-container .news-item .vacancy-title, #info-section .video-container .video-item .title-news, #info-section .video-container .video-item .video-title, #info-section .video-container .video-item .vacancy-title, #info-section .video-container .vacancy-item .title-news, #info-section .video-container .vacancy-item .video-title, #info-section .video-container .vacancy-item .vacancy-title, #info-section .vacancy-container .news-item .title-news, #info-section .vacancy-container .news-item .video-title, #info-section .vacancy-container .news-item .vacancy-title, #info-section .vacancy-container .video-item .title-news, #info-section .vacancy-container .video-item .video-title, #info-section .vacancy-container .video-item .vacancy-title, #info-section .vacancy-container .vacancy-item .title-news, #info-section .vacancy-container .vacancy-item .video-title, #info-section .vacancy-container .vacancy-item .vacancy-title, #catalog-section .news-container .news-item .title-news, #catalog-section .news-container .news-item .video-title, #catalog-section .news-container .news-item .vacancy-title, #catalog-section .news-container .video-item .title-news, #catalog-section .news-container .video-item .video-title, #catalog-section .news-container .video-item .vacancy-title, #catalog-section .news-container .vacancy-item .title-news, #catalog-section .news-container .vacancy-item .video-title, #catalog-section .news-container .vacancy-item .vacancy-title, #catalog-section .video-container .news-item .title-news, #catalog-section .video-container .news-item .video-title, #catalog-section .video-container .news-item .vacancy-title, #catalog-section .video-container .video-item .title-news, #catalog-section .video-container .video-item .video-title, #catalog-section .video-container .video-item .vacancy-title, #catalog-section .video-container .vacancy-item .title-news, #catalog-section .video-container .vacancy-item .video-title, #catalog-section .video-container .vacancy-item .vacancy-title, #catalog-section .vacancy-container .news-item .title-news, #catalog-section .vacancy-container .news-item .video-title, #catalog-section .vacancy-container .news-item .vacancy-title, #catalog-section .vacancy-container .video-item .title-news, #catalog-section .vacancy-container .video-item .video-title, #catalog-section .vacancy-container .video-item .vacancy-title, #catalog-section .vacancy-container .vacancy-item .title-news, #catalog-section .vacancy-container .vacancy-item .video-title, #catalog-section .vacancy-container .vacancy-item .vacancy-title {
  font-weight: 400;
  font-size: 1.3rem;
  font-family: "Cambria";
  margin-bottom: 30px;
}
@media screen and (max-width: 575px) {
  #info-section .news-container .news-item .title-news, #info-section .news-container .news-item .video-title, #info-section .news-container .news-item .vacancy-title, #info-section .news-container .video-item .title-news, #info-section .news-container .video-item .video-title, #info-section .news-container .video-item .vacancy-title, #info-section .news-container .vacancy-item .title-news, #info-section .news-container .vacancy-item .video-title, #info-section .news-container .vacancy-item .vacancy-title, #info-section .video-container .news-item .title-news, #info-section .video-container .news-item .video-title, #info-section .video-container .news-item .vacancy-title, #info-section .video-container .video-item .title-news, #info-section .video-container .video-item .video-title, #info-section .video-container .video-item .vacancy-title, #info-section .video-container .vacancy-item .title-news, #info-section .video-container .vacancy-item .video-title, #info-section .video-container .vacancy-item .vacancy-title, #info-section .vacancy-container .news-item .title-news, #info-section .vacancy-container .news-item .video-title, #info-section .vacancy-container .news-item .vacancy-title, #info-section .vacancy-container .video-item .title-news, #info-section .vacancy-container .video-item .video-title, #info-section .vacancy-container .video-item .vacancy-title, #info-section .vacancy-container .vacancy-item .title-news, #info-section .vacancy-container .vacancy-item .video-title, #info-section .vacancy-container .vacancy-item .vacancy-title, #catalog-section .news-container .news-item .title-news, #catalog-section .news-container .news-item .video-title, #catalog-section .news-container .news-item .vacancy-title, #catalog-section .news-container .video-item .title-news, #catalog-section .news-container .video-item .video-title, #catalog-section .news-container .video-item .vacancy-title, #catalog-section .news-container .vacancy-item .title-news, #catalog-section .news-container .vacancy-item .video-title, #catalog-section .news-container .vacancy-item .vacancy-title, #catalog-section .video-container .news-item .title-news, #catalog-section .video-container .news-item .video-title, #catalog-section .video-container .news-item .vacancy-title, #catalog-section .video-container .video-item .title-news, #catalog-section .video-container .video-item .video-title, #catalog-section .video-container .video-item .vacancy-title, #catalog-section .video-container .vacancy-item .title-news, #catalog-section .video-container .vacancy-item .video-title, #catalog-section .video-container .vacancy-item .vacancy-title, #catalog-section .vacancy-container .news-item .title-news, #catalog-section .vacancy-container .news-item .video-title, #catalog-section .vacancy-container .news-item .vacancy-title, #catalog-section .vacancy-container .video-item .title-news, #catalog-section .vacancy-container .video-item .video-title, #catalog-section .vacancy-container .video-item .vacancy-title, #catalog-section .vacancy-container .vacancy-item .title-news, #catalog-section .vacancy-container .vacancy-item .video-title, #catalog-section .vacancy-container .vacancy-item .vacancy-title {
    font-size: 1rem;
  }
}
#info-section .news-container .news-item .text-news, #info-section .news-container .news-item .video-text, #info-section .news-container .news-item .vacancy-text, #info-section .news-container .video-item .text-news, #info-section .news-container .video-item .video-text, #info-section .news-container .video-item .vacancy-text, #info-section .news-container .vacancy-item .text-news, #info-section .news-container .vacancy-item .video-text, #info-section .news-container .vacancy-item .vacancy-text, #info-section .video-container .news-item .text-news, #info-section .video-container .news-item .video-text, #info-section .video-container .news-item .vacancy-text, #info-section .video-container .video-item .text-news, #info-section .video-container .video-item .video-text, #info-section .video-container .video-item .vacancy-text, #info-section .video-container .vacancy-item .text-news, #info-section .video-container .vacancy-item .video-text, #info-section .video-container .vacancy-item .vacancy-text, #info-section .vacancy-container .news-item .text-news, #info-section .vacancy-container .news-item .video-text, #info-section .vacancy-container .news-item .vacancy-text, #info-section .vacancy-container .video-item .text-news, #info-section .vacancy-container .video-item .video-text, #info-section .vacancy-container .video-item .vacancy-text, #info-section .vacancy-container .vacancy-item .text-news, #info-section .vacancy-container .vacancy-item .video-text, #info-section .vacancy-container .vacancy-item .vacancy-text, #catalog-section .news-container .news-item .text-news, #catalog-section .news-container .news-item .video-text, #catalog-section .news-container .news-item .vacancy-text, #catalog-section .news-container .video-item .text-news, #catalog-section .news-container .video-item .video-text, #catalog-section .news-container .video-item .vacancy-text, #catalog-section .news-container .vacancy-item .text-news, #catalog-section .news-container .vacancy-item .video-text, #catalog-section .news-container .vacancy-item .vacancy-text, #catalog-section .video-container .news-item .text-news, #catalog-section .video-container .news-item .video-text, #catalog-section .video-container .news-item .vacancy-text, #catalog-section .video-container .video-item .text-news, #catalog-section .video-container .video-item .video-text, #catalog-section .video-container .video-item .vacancy-text, #catalog-section .video-container .vacancy-item .text-news, #catalog-section .video-container .vacancy-item .video-text, #catalog-section .video-container .vacancy-item .vacancy-text, #catalog-section .vacancy-container .news-item .text-news, #catalog-section .vacancy-container .news-item .video-text, #catalog-section .vacancy-container .news-item .vacancy-text, #catalog-section .vacancy-container .video-item .text-news, #catalog-section .vacancy-container .video-item .video-text, #catalog-section .vacancy-container .video-item .vacancy-text, #catalog-section .vacancy-container .vacancy-item .text-news, #catalog-section .vacancy-container .vacancy-item .video-text, #catalog-section .vacancy-container .vacancy-item .vacancy-text {
  color: #000000;
  font-family: "Cambria";
  font-size: 1.3rem;
}
@media screen and (max-width: 575px) {
  #info-section .news-container .news-item .text-news, #info-section .news-container .news-item .video-text, #info-section .news-container .news-item .vacancy-text, #info-section .news-container .video-item .text-news, #info-section .news-container .video-item .video-text, #info-section .news-container .video-item .vacancy-text, #info-section .news-container .vacancy-item .text-news, #info-section .news-container .vacancy-item .video-text, #info-section .news-container .vacancy-item .vacancy-text, #info-section .video-container .news-item .text-news, #info-section .video-container .news-item .video-text, #info-section .video-container .news-item .vacancy-text, #info-section .video-container .video-item .text-news, #info-section .video-container .video-item .video-text, #info-section .video-container .video-item .vacancy-text, #info-section .video-container .vacancy-item .text-news, #info-section .video-container .vacancy-item .video-text, #info-section .video-container .vacancy-item .vacancy-text, #info-section .vacancy-container .news-item .text-news, #info-section .vacancy-container .news-item .video-text, #info-section .vacancy-container .news-item .vacancy-text, #info-section .vacancy-container .video-item .text-news, #info-section .vacancy-container .video-item .video-text, #info-section .vacancy-container .video-item .vacancy-text, #info-section .vacancy-container .vacancy-item .text-news, #info-section .vacancy-container .vacancy-item .video-text, #info-section .vacancy-container .vacancy-item .vacancy-text, #catalog-section .news-container .news-item .text-news, #catalog-section .news-container .news-item .video-text, #catalog-section .news-container .news-item .vacancy-text, #catalog-section .news-container .video-item .text-news, #catalog-section .news-container .video-item .video-text, #catalog-section .news-container .video-item .vacancy-text, #catalog-section .news-container .vacancy-item .text-news, #catalog-section .news-container .vacancy-item .video-text, #catalog-section .news-container .vacancy-item .vacancy-text, #catalog-section .video-container .news-item .text-news, #catalog-section .video-container .news-item .video-text, #catalog-section .video-container .news-item .vacancy-text, #catalog-section .video-container .video-item .text-news, #catalog-section .video-container .video-item .video-text, #catalog-section .video-container .video-item .vacancy-text, #catalog-section .video-container .vacancy-item .text-news, #catalog-section .video-container .vacancy-item .video-text, #catalog-section .video-container .vacancy-item .vacancy-text, #catalog-section .vacancy-container .news-item .text-news, #catalog-section .vacancy-container .news-item .video-text, #catalog-section .vacancy-container .news-item .vacancy-text, #catalog-section .vacancy-container .video-item .text-news, #catalog-section .vacancy-container .video-item .video-text, #catalog-section .vacancy-container .video-item .vacancy-text, #catalog-section .vacancy-container .vacancy-item .text-news, #catalog-section .vacancy-container .vacancy-item .video-text, #catalog-section .vacancy-container .vacancy-item .vacancy-text {
    font-size: 1rem;
  }
}
#info-section .news-container .news-item .to-news-btn, #info-section .news-container .video-item .to-news-btn, #info-section .news-container .vacancy-item .to-news-btn, #info-section .video-container .news-item .to-news-btn, #info-section .video-container .video-item .to-news-btn, #info-section .video-container .vacancy-item .to-news-btn, #info-section .vacancy-container .news-item .to-news-btn, #info-section .vacancy-container .video-item .to-news-btn, #info-section .vacancy-container .vacancy-item .to-news-btn, #catalog-section .news-container .news-item .to-news-btn, #catalog-section .news-container .video-item .to-news-btn, #catalog-section .news-container .vacancy-item .to-news-btn, #catalog-section .video-container .news-item .to-news-btn, #catalog-section .video-container .video-item .to-news-btn, #catalog-section .video-container .vacancy-item .to-news-btn, #catalog-section .vacancy-container .news-item .to-news-btn, #catalog-section .vacancy-container .video-item .to-news-btn, #catalog-section .vacancy-container .vacancy-item .to-news-btn {
  background-color: #ff0000;
  color: #fff;
  font-family: "Cambria";
  margin-bottom: 40px;
  width: fit-content;
}
#info-section .news-container .news-item .to-news-btn:hover, #info-section .news-container .video-item .to-news-btn:hover, #info-section .news-container .vacancy-item .to-news-btn:hover, #info-section .video-container .news-item .to-news-btn:hover, #info-section .video-container .video-item .to-news-btn:hover, #info-section .video-container .vacancy-item .to-news-btn:hover, #info-section .vacancy-container .news-item .to-news-btn:hover, #info-section .vacancy-container .video-item .to-news-btn:hover, #info-section .vacancy-container .vacancy-item .to-news-btn:hover, #catalog-section .news-container .news-item .to-news-btn:hover, #catalog-section .news-container .video-item .to-news-btn:hover, #catalog-section .news-container .vacancy-item .to-news-btn:hover, #catalog-section .video-container .news-item .to-news-btn:hover, #catalog-section .video-container .video-item .to-news-btn:hover, #catalog-section .video-container .vacancy-item .to-news-btn:hover, #catalog-section .vacancy-container .news-item .to-news-btn:hover, #catalog-section .vacancy-container .video-item .to-news-btn:hover, #catalog-section .vacancy-container .vacancy-item .to-news-btn:hover {
  text-decoration: none;
}
#info-section .video-container .video-title, #catalog-section .video-container .video-title {
  font-size: 28px !important;
  text-align: center;
}
#info-section .video-container .video-item, #catalog-section .video-container .video-item {
  margin-bottom: 80px;
}
#info-section .vacancy-item .img-block, #catalog-section .vacancy-item .img-block {
  height: 100% !important;
}
#info-section .vacancy-item .img-block img, #catalog-section .vacancy-item .img-block img {
  width: 75% !important;
  height: inherit !important;
}
#info-section .first-row-cert .logo-block, #info-section .second-row-cert .logo-block, #catalog-section .first-row-cert .logo-block, #catalog-section .second-row-cert .logo-block {
  display: flex;
  justify-content: center;
  flex-direction: row;
  height: 350px;
}
@media screen and (max-width: 575px) {
  #info-section .first-row-cert .logo-block, #info-section .second-row-cert .logo-block, #catalog-section .first-row-cert .logo-block, #catalog-section .second-row-cert .logo-block {
    height: 200px;
  }
}
#info-section .nav-menu-goriz, #catalog-section .nav-menu-goriz {
  flex-direction: column;
}
@media screen and (max-width: 992px) {
  #info-section .nav-menu-goriz, #catalog-section .nav-menu-goriz {
    justify-content: center;
    flex-direction: row !important;
  }
}
@media screen and (max-width: 575px) {
  #info-section .nav-menu-goriz, #catalog-section .nav-menu-goriz {
    justify-content: center;
    flex-direction: column !important;
  }
}
@media screen and (max-width: 992px) {
  #info-section .current-row, #catalog-section .current-row {
    flex-direction: column;
  }
}

#prod-catalog-section {
  padding-top: 119px;
  background: url("../img/catalogprod.png") center top no-repeat;
  background-size: 100%;
}
@media screen and (max-width: 1199px) {
  #prod-catalog-section {
    background-size: 130%;
    padding-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  #prod-catalog-section {
    background-size: 179%;
  }
}
@media screen and (max-width: 575px) {
  #prod-catalog-section {
    background-size: 470%;
  }
}
#prod-catalog-section .title-section {
  font-family: "Cambria";
  font-size: 2.85rem;
  font-weight: 400;
  color: #fff;
  margin-top: 20px;
  text-transform: uppercase;
  margin-bottom: 40px;
}
@media screen and (max-width: 991px) {
  #prod-catalog-section .title-section {
    font-size: 1.85rem;
  }
}
@media screen and (min-width: 992px) {
  #prod-catalog-section .title-section {
    font-size: 2.85rem;
  }
}
@media screen and (max-width: 767px) {
  #prod-catalog-section .title-section {
    font-size: 1.5rem;
  }
}
#prod-catalog-section .title-text {
  font-family: "Cambria";
  color: #fff;
  font-weight: 400;
  font-size: 1.3rem;
  margin-bottom: 120px;
}
@media screen and (max-width: 575px) {
  #prod-catalog-section .title-text {
    font-size: 1rem;
  }
}
#prod-catalog-section .list-of-services .service-item {
  margin-bottom: 40px;
  display: flex;
}
#prod-catalog-section .list-of-services .service-item a {
  position: relative;
  height: 320px;
  width: 100%;
}
@media screen and (max-width: 991px) {
  #prod-catalog-section .list-of-services .service-item a {
    height: 400px;
  }
}
@media screen and (max-width: 768px) {
  #prod-catalog-section .list-of-services .service-item a {
    height: 365px;
  }
}
@media screen and (max-width: 575px) {
  #prod-catalog-section .list-of-services .service-item a {
    height: 365px;
  }
}
@media screen and (max-width: 425px) {
  #prod-catalog-section .list-of-services .service-item a {
    height: 265px;
  }
}
@media screen and (max-width: 375px) {
  #prod-catalog-section .list-of-services .service-item a {
    height: 250px;
  }
}
@media screen and (max-width: 320px) {
  #prod-catalog-section .list-of-services .service-item a {
    height: 200px;
  }
}
#prod-catalog-section .list-of-services .service-item a .img-block {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#prod-catalog-section .list-of-services .service-item a .img-block img {
  height: 100%;
  width: 100%;
}
#prod-catalog-section .list-of-services .service-item a span {
  position: absolute;
  z-index: 6;
  bottom: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: "Cambria";
  color: #fff;
  font-weight: 400;
  font-size: 1.5rem;
  align-items: flex-end;
  padding-bottom: 20px;
  -webkit-box-shadow: inset 0px -68px 7px 0px rgba(2, 82, 129, 0.7);
  -moz-box-shadow: inset 0px -68px 7px 0px rgba(2, 82, 129, 0.7);
  box-shadow: inset 0px -68px 7px 0px rgba(2, 82, 129, 0.7);
}
@media screen and (max-width: 575px) {
  #prod-catalog-section .list-of-services .service-item a span {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 375px) {
  #prod-catalog-section .list-of-services .service-item a span {
    font-size: 1.1rem;
  }
}

#catalog-section {
  background-image: url("../img/catalogprod.png");
}
#catalog-section .title-tab {
  flex-direction: column;
  justify-content: center;
  margin-bottom: 40px;
}
#catalog-section .title-tab h3, #catalog-section .title-tab span, #catalog-section .title-tab a {
  text-align: center;
}
@media screen and (max-width: 767px) {
  #catalog-section .title-tab h3, #catalog-section .title-tab span, #catalog-section .title-tab a {
    color: #000;
  }
}
#catalog-section .title-tab .title-in-tab {
  font-size: 1.5rem;
}
#catalog-section .title-tab span, #catalog-section .title-tab a {
  font-size: 1.3rem;
  font-family: "Cambria";
  color: #fff;
  font-weight: 400;
}
@media screen and (max-width: 767px) {
  #catalog-section .title-tab span, #catalog-section .title-tab a {
    color: #000;
  }
}
#catalog-section .title-tab span:hover, #catalog-section .title-tab a:hover {
  text-decoration: none;
}
#catalog-section #v-pills-tab {
  margin-top: 0;
}
#catalog-section .first-container-products .first-row-products .product-item {
  margin-bottom: 30px;
  background: #fff;
}
@media screen and (max-width: 768px) {
  #catalog-section .first-container-products .first-row-products .product-item {
    flex-direction: column;
    justify-content: center;
  }
}
#catalog-section .first-container-products .first-row-products .product-item .img-block {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: flex-start;
  align-items: flex-end;
}
@media screen and (max-width: 768px) {
  #catalog-section .first-container-products .first-row-products .product-item .img-block {
    justify-content: center;
  }
}
#catalog-section .first-container-products .first-row-products .product-item .img-block img {
  height: fit-content;
}
#catalog-section .first-container-products .first-row-products .product-item .name {
  font-family: "Cambria";
  font-weight: 400;
  margin-top: 30px;
  font-size: 22px;
}
#catalog-section .first-container-products .first-row-products .product-item .price {
  font-family: "Cambria";
  font-weight: 400;
  margin-top: 30px;
  font-size: 18px;
}
#catalog-section .first-container-products .first-row-products .product-item .additional-info {
  font-family: "Cambria";
  font-weight: 400;
  font-size: 14px;
  color: #000;
}
#catalog-section .first-container-products .first-row-products .product-item .additional-info:hover {
  text-decoration: none;
}
#catalog-section .first-container-products .first-row-products .product-item .btn-order {
  background-color: #ff0000;
  color: #fff;
  font-family: "Cambria";
  font-size: 18px;
  font-weight: 400;
  padding: 8px 20px;
  margin-bottom: 30px;
  margin-right: 10px;
}
#catalog-section .first-container-products .first-row-products .product-item .btn-order:hover {
  text-decoration: none;
}
@media screen and (max-width: 767px) {
  #catalog-section .first-container-products .first-row-products .product-item .btn-order {
    margin-right: 0;
    margin-top: 20px;
  }
}
#catalog-section .first-row-products {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#projects-section {
  padding-top: 119px;
  background: url("../img/catalog-servics-bg.png") center top no-repeat;
  background-size: 100%;
}
@media screen and (max-width: 1199px) {
  #projects-section {
    background-size: 130%;
    padding-top: 30px;
  }
}
@media screen and (max-width: 991px) {
  #projects-section {
    background-size: 179%;
  }
}
@media screen and (max-width: 575px) {
  #projects-section {
    background-size: auto;
  }
}
#projects-section .title-section {
  font-family: "Cambria";
  font-size: 2.85rem;
  font-weight: 400;
  color: #fff;
  margin-top: 20px;
  text-transform: uppercase;
}
@media screen and (max-width: 991px) {
  #projects-section .title-section {
    font-size: 1.85rem;
  }
}
@media screen and (min-width: 992px) {
  #projects-section .title-section {
    font-size: 2.85rem;
  }
}
@media screen and (max-width: 767px) {
  #projects-section .title-section {
    font-size: 1.5rem;
  }
}
#projects-section .title-text {
  font-family: "Cambria";
  color: #ffffff;
  font-weight: 400;
  font-size: 1.3rem;
  margin-top: 30px;
  margin-bottom: 30px;
}
@media screen and (max-width: 575px) {
  #projects-section .title-text {
    font-size: 1rem;
  }
}
#projects-section .slider-section-proj {
  margin-bottom: 60px;
}
#projects-section .slider-section-proj #v-pills-tab {
  padding: 0;
}
#projects-section .slider-section-proj .slick-slide {
  display: flex;
  justify-content: center;
  margin: 0 10px;
}
#projects-section .slider-section-proj .slick-slide:focus {
  outline: none;
  box-shadow: none;
}
#projects-section .slider-section-proj .item {
  height: 180px;
  width: 100%;
  display: flex;
  position: relative;
}
@media screen and (max-width: 375px) {
  #projects-section .slider-section-proj .item {
    height: 210px;
  }
}
#projects-section .slider-section-proj .item:focus {
  outline: none;
}
#projects-section .slider-section-proj .item .img-block {
  position: absolute;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
#projects-section .slider-section-proj .item .img-block img {
  height: 100%;
  width: 100%;
}
#projects-section .slider-section-proj .item span {
  position: absolute;
  z-index: 6;
  bottom: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  font-family: "Cambria";
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
  text-align: center;
  align-items: flex-end;
  padding-bottom: 5px;
  -webkit-box-shadow: inset 0px -68px 7px 0px rgba(2, 82, 129, 0.7);
  -moz-box-shadow: inset 0px -68px 7px 0px rgba(2, 82, 129, 0.7);
  box-shadow: inset 0px -68px 7px 0px rgba(2, 82, 129, 0.7);
}
@media screen and (max-width: 575px) {
  #projects-section .slider-section-proj .item span {
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 375px) {
  #projects-section .slider-section-proj .item span {
    font-size: 1.1rem;
  }
}
#projects-section .slider-section-proj .projects-btn-row {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 100px;
}
@media screen and (max-width: 768px) {
  #projects-section .slider-section-proj .projects-btn-row {
    display: none;
  }
}
#projects-section .slider-section-proj .projects-btn-row .slick-prev, #projects-section .slider-section-proj .projects-btn-row .slick-next {
  position: relative;
}
#projects-section .slider-section-proj .projects-btn-row .slick-prev::before, #projects-section .slider-section-proj .projects-btn-row .slick-next::before {
  color: #ba2f2f;
}
#projects-section .title-tabs {
  margin-top: 30px;
  margin-bottom: 10px;
  font-family: "Cambria";
  margin-top: 25px;
  font-size: 1.7rem;
}
#projects-section .item-project {
  padding: 20px;
  transition: box-shadow 0.3s;
  margin-bottom: 30px;
}
#projects-section .item-project:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
#projects-section .item-project .img-project-block {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#projects-section .item-project .img-project-block img {
  height: 100%;
  width: 100%;
}
#projects-section .item-project h4 {
  font-family: "Cambria";
  margin-top: 25px;
  font-size: 1.7rem;
}
#projects-section .item-project p {
  font-family: "Cambria";
  font-size: 1.3rem;
}

/*# sourceMappingURL=style.css.map */
